html {
    position: relative;
    min-height: 100%;
}

body{
    background-color: #f3f7f9;
}

main {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    /* text-align: left; */
    /* background-color: white; */
}

/* body { */
/* margin-bottom: 60px; Margin bottom by footer height */
/* }*/
footer {
    bottom: 0;
    width: auto;
    height: auto; /* Set the fixed height of the footer here */
    background-color: #c4c4c4;
    min-height: 250px;
    padding: 25px 0px 0px 0px;
}

.pad {
    padding-bottom: 110px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu-log {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a,
.dropdown-menu-log a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover,
.dropdown-menu-log a:hover {
    background-color: #ddd;
}

.nav-item:hover .dropdown-menu {
    display: flex;
    z-index: 3;
    justify-content: center;
}

.nav-item:hover .dropdown-menu-log {
    display: block;
    z-index: 3;
    justify-content: center;
}

.title-home {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* line-height: 21px;
position:absolute; */
}

.log-field {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 1.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.log-field:focus {
    color: #000000;
    background-color: #fff;
    border-color: black;
    border-radius: 1.5rem;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(54, 58, 63, 0.25);
}

.search-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 350px;
}

.search-field {
    display: block;
    width: 400px;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    color: #8b8b8b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #8b8b8b;
    cursor: pointer;
}

.img-log {
    width: 100%;
    height: 100%;
    float: right;
    margin-left: 20px;
}

.img-regist {
    width: 650px;
    height: 695px;
    margin-left: -128px;
}

.card-middle-sizing{
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.leftside,
.rightside {
    height: 100vh;
    width: 100%;
}

.leftside {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rightside {
    background-image: url("login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.leftside-register, .rightside-register {
    height:100vh;
    width:100%;
  }
  
  .leftside-register{
    background-image: url("../storage/images/SignUp Page/signup4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .rightside-register{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  

.inner-addon {
    position: relative;
}

.inner-addon .fas {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #8b8b8b;
}

.inner-addon .far {
    position: absolute;
    padding: 10px;
    color: #8b8b8b;
}

.left-addon .fas {
    left: 17px;
    top: 1.7px;
}

.right-addon .far {
    right: 20px;
    top: 1.7px;
    cursor: pointer;
}

.left-addon-regist .fas {
    left: 10px;
    top: 1.7px;
}
.left-addon-email .fas {
    left: 5px;
    top: 1.7px;
}
.left-addon-search .fas {
    left: 3px;
    top: 1.7px;
}

.left-addon input,
.left-addon-regist input,
.left-addon-email input,
.left-addon-search input {
    padding-left: 35px;
}

.img-gender {
    margin-left: 75px;
    height: 141px;
    width: 135px;
}

.card-gender {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.btn-gender {
    width: 213.89px;
    height: 47px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
    font-weight: 100;
    box-sizing: border-box;
}

.btn-gender:hover {
    border: 1px solid black;
    color: black;
    font-weight: 100;
    box-sizing: border-box;
}

.btn-regist {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    color: white;
    border: 1px solid #8b8b8b;
    background-color: #8b8b8b;
    background-clip: padding-box;
    border-radius: 1.5rem;
    cursor: pointer;
}
/* .card-body{
height: 180px;
} */

/* .con-photo {
position: relative;
margin-left:246px;
} */

.con-photo-left {
    position: relative;
    margin-right: 246px;
}

.image-cat {
    opacity: 1;
    display: block;
    /* width: 320px;
height: 240px; */
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.hide {
    display: none;
}

.middle-cat {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.con-photo:hover .image-cat {
    opacity: 0.3;
    cursor: pointer;
}

.con-photo:hover .middle-cat {
    opacity: 1;
    cursor: pointer;
}

.con-photo-left:hover .image-cat {
    opacity: 0.3;
}

.con-photo-left:hover .middle-cat {
    opacity: 1;
}

.text-cat {
    /* background-color: #4CAF50; */
    color: black;
    font-size: 20px;
    padding: 16px 32px;
}

/* .img-ab {
    margin-left: -200px;
    width: 1428px;
} */

hr {
    height: 1px;
    background-color: #dfdfdf;
    border: none;
}
.nav-tabs .nav-link {
    color: gray;
    border: 0;
    /* border-bottom: 1px solid grey; */
}

.nav-link:hover {
    color: black;
}

.nav-tabs .nav-link.active {
    color: #000000;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
    background-color: white;
}

.nav-tabs-brand .nav-link-brand {
    color: gray;
    border: 0;
    /* border-bottom: 1px solid grey; */
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link-brand:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav-tabs-brand .nav-link-brand.active {
    color: #000000;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    background-color: white;
    display: block;
    padding: 0.5rem 1rem;
}

.nav-item-brand {
    width: 41px;
    height: 39px;
}

.about-title {
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    /* text-align: left; */
    /* text-transform: uppercase; */
}

.about-desc {
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 500;
    /* font-size: 18px; */
    line-height: 21px;
    color: #000000;
}

.btn-filter {
    width: 180px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
    box-sizing: border-box;
}

.btn-filter:hover {
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.big-image {
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("ahhagang.png");
}

.big-image-men {
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("men.jpg");
}

.big-image-women {
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("women.jpg");
}

#overlay {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
}

.overlay { /* ?? */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.425);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay h1 {
    letter-spacing: 0px;
    margin: 0 0 5px;
}

.overlay p {
    margin: 0;
}

.vr {
    border-left: 1px solid silver;
    height: 500px;
    margin: 2% 0;
}

.inner-contact-logo {
    padding: 4% 30%;
}

.img-fit {
    width: 100%;
    height: 600px;
}

.btn-template {
    color: #fff;
    background-color: #031b72;
    width: 40%;
    height: 50px;
}

.text-center { /* ??? */
    font-weight: bold;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-terms {
    font-weight: bold;
}

.silver {
    color: #545b62;
}

.spacing {
    margin-top: 5%;
}

.ta-title {
    position: relative;
    text-align: center;
    font-weight: bolder;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.faq-format {
    height: 40px;
    width: 100%;
}

.btn-faq {
    color: #fff;
    background-color: #837f7f;
    width: 120%;
    height: 40px;
}

.center-faq {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-weight: bolder;
    color: black;
    margin: 1% 0;
}

.card-faq {
    background: rgba(216, 214, 214, 0.25);
    border: 4px solid #c4c4c4;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card-faq:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.faq-section-logo {
    margin-top: -15%;
    padding-left: 40%;
}

.faq-section-title a {
    color: black;
    font-size: x-large;
}

.drop-down {
    position: absolute;
    right: 5%;
    display: block;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.up {
    /* transform: rotate(-180deg); */
    /* -webkit-transform: rotate(-180deg); */
}

.down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.list .list-element:nth-child(1) {
    display: block;
}
.list .list-element:nth-child(2) {
    display: block;
}

.breadcrumb-a {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
    width: 100%;
}

.breadcrumb-a a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb-a a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb-a a:first-child:before {
	/* left: 144px; */
    margin: 8px 3px;
    padding: 2px;
}
.breadcrumb-a a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb-a a.active{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb-a a.active:after{
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb-a a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb-a a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb-a a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 3px;
    padding: 2px;
	position: relative;
	top: 0;
	/* left: 150px; */
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
    color: black;
}


.flat a, .flat a:after {
    /* background for each tab */
	background: #c4c4c4;
    /* font color for all */
	color: white;
	transition: all 0.5s;
}
.flat a:before {
    /* background for number */
	/* background: black; */
    background: white;
	box-shadow: 0 0 0 1px #ccc;
}

.flat a.active, .flat a.active:after{
	background: #343a40;
}

.visibleBtn{
    opacity: 0.3;
    transition: 0.7s;
}

.visibleBtn:hover {opacity: 1}

.hl {
    height: 1px;
    background-color: black;
    border: none;
}

.event-card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 4px 4px 4px 4px #888888;
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  /* min-height: 350px; */
}

.event-card:hover{
     transform: scale(1.05);
  box-shadow: 4px 4px 4px 4px #888888;
}

.event-card h3{
  font-weight: 600;
}

.about-hr-line {
    height: 5px;
    background-color: #001B74;
    border-radius: 20px;
    margin: 0 35%;
}

.location:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .cons:hover .overlay {
    opacity: 0.5;
  }
  

  .overlay { /* ?? */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 95%;
    opacity: 0;
    transition: .5s ease;
    background-color: silver;
    border-radius: 15px;
    margin-left: 2.5%;
  }

  .about-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .nav-link:active{
      font-weight: bold;
  }

  #detail-tab.active {
    font-weight: bold;
    color:black;
}
  
  #sizedetail-tab.active{
    font-weight: bold;
    color:black;
}
  
  #review-tab.active{
    font-weight: bold;
    color:black;
}

#policy-tab.active{
      font-weight: bold;
      color:black;
  }

  #profile-tab.active{
    font-weight: bold;
    color:black;
}

#notification-tab.active{
    font-weight: bold;
    color:black;
}

  #privacy-tab.active{
    font-weight: bold;
    color:black;
}

  /* .bolder:hover{
      font-weight: bolder;
  } */



  .heart {
    width: 100%;
    height: 70px;
    margin-top: -31px;
    margin-bottom: 30px;
    background: url("heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
  }

  .heart .is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
  
  .stage {
    /* position: fixed; */
    /* top: 50%; */
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('Preloader_7.gif') 50% 50% no-repeat white;
  }


  .visBtn:hover{
      opacity: 0.7;
  }

  .continueShopBtn {
    display: block;
    width: 40%;
    height: 40px;
    background: #c4c4c4;
    padding: 1% 4%;
    text-align: center;
    border-radius: 5px;
    color: white;
    line-height: 25px;
    text-decoration: none;
}

.continueShopBtn:hover{
    opacity: 0.7;
    color: white;
}



.yuhu {
    width: 600px;
    margin: 100px auto; 
}
.progressbar {
    /* counter-reset: step; */
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: black;
}
.progressbar li.active:before {
    border-color: black;
}
.progressbar li.active + li:after {
    background-color: black;
}


/* .orderLine{
    border-bottom: 2px solid #ABABAB;
} */

.table thead th {
    border-top: 2px solid #ababab;
    border-bottom: 2px solid #ababab;
}

/* .table th, .table td{
    border-top: 2px solid #ababab;
    border-bottom: 2px solid #ababab;
} */

.top-left-right-border{
    border-top: 2px solid #ababab;
    border-left: 2px solid #ababab;
    border-right: 2px solid #ababab;
}

.top-border{
    border-top: 2px solid #ababab;
}

.down-border{
    border-bottom: 2px solid #ababab;
}

.all-border{
    border: 2px solid #ababab;
}

/* .notes::placeholder{
    padding: 0 0;
} */

textarea{
    padding: 1% 2%;
  /* margin: 8px 0; */
}

.notes{
    opacity: 0.5;
}

.notes:hover{
    opacity: 1;
}
/* 
.clickedForm:focus{
    background: #C4C4C4;
} */
#carousel-example-generic {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    justify-content: normal;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 1 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 1;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 1;
}

.btn-home-slider{
    margin-top: -200px;
    background: #001B74;
    color: white;
    width: 150px;
}

.btn-home-slider-2{
    margin-top: -160px;
    background: #001B74;
    color: white;
    margin-left: 500px;
    width: 150px;
}

.btn-home-slider-3{
    margin-top: -160px;
    background: #001B74;
    color: white;
    width: 150px;
}

.btn-home-slider:hover, .btn-home-slider-2:hover, .btn-home-slider-3:hover{
    color: white;
}

.photo-thumb{
    width:100px;
    height:100px; 
    object-fit:cover;
}

.photo-detail{
    width:100%;
    height:500px; 
    object-fit:cover;
}

.modalBtn:hover{
    opacity: 0.7;
}

.brand-pic {
    border: 1px solid; 
    object-fit: contain;
    background-color: white;
    width:250px;
    height:150px;
}

.more-less {
    float: right;
    color: black;
    transition: all 0.5s;
}

.more-less:hover {
    background-color: grey;
    border-radius: 50%;
    opacity: 0.7;
    padding: 3px;
}

.filter-header {
    border-color: #dfdfdf;
}

/* .filter-heart .far {
    color: rgba(0, 0, 0, 0.5);
}

.filter-heart .fas {
    color: red;
} */

/* .filter-heart .far:hover{
    color: red;
} */

.wish-not-active:hover{
    color: #d54728;
    transform: scale(1.5);
}

.wish-not-active, .wish-active{
    transition: all 0.2s ease-in;
}

.wish-active:hover{
    color: rgba(0, 0, 0, 0.5);
    transform: scale(1.5);
}

.wish-active{
    color: #d54728;
}

.wish-not-active{
    color: rgba(0, 0, 0, 0.5);
}

