<<<<<<< HEAD
  html {
    position: relative;
    min-height: 100%;
  }

  main{
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    /* text-align: left; */
    background-color: white;
  }

  /* body { */
    /* margin-bottom: 60px; Margin bottom by footer height */
  /* }*/
  footer {
    bottom: 0;
    width: auto;
    height: auto; /* Set the fixed height of the footer here */
    background-color: #C4C4C4;
    min-height:250px; 
    padding: 25px 0px 0px 0px;
  } 

  .pad {
    padding-bottom: 110px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-menu a:hover {background-color: #ddd;}

.nav-item:hover .dropdown-menu {display: flex; z-index:3; justify-content: center;}

.title-home {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
/* line-height: 21px;
position:absolute; */
}

.log-field{
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 1.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.log-field:focus {
  color: #000000;
  background-color: #fff;
  border-color:black;
  border-radius: 1.5rem;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(54, 58, 63, 0.25);
}

.search-group{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 400px;
}

.search-field{
  display: block;
  width: 400px;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  color: #8B8B8B;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8B8B8B;
  cursor: pointer;
}

.img-log{
  width: 658px;
}

.img-regist{
  width: 650px;
  height: 645px;
  margin-left: -120px;
}

.inner-addon { 
  position: relative; 
}

.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color:#8B8B8B;
}

.left-addon .fas  { left:  17px; top:1.7px;}
.left-addon-regist .fas  { left:  10px; top:1.7px;}
.left-addon-email .fas  { left:  5px; top:1.7px;}
.left-addon-search .fas  { left:  3px; top:1.7px;}

.left-addon input, .left-addon-regist input, .left-addon-email input, .left-addon-search input  
{ padding-left: 35px; }

.img-gender{
  margin-left: 75px;
  height: 141px;
  width: 135px;
}

.card-gender{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.btn-gender{
  position: absolute;
  width: 213.89px;
  height: 47px;
  background: #FFFFFF;
  border: 1px solid #6c757d;
  color: #6c757d;
  font-weight: 100;
  box-sizing: border-box;
}

.btn-gender:hover{
  border: 1px solid black;
  color: black;
  font-weight: 100;
  box-sizing: border-box;
}

.btn-regist {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  color: white;
  border: 1px solid #8b8b8b;
  background-color: #8B8B8B;
  background-clip: padding-box;
  border-radius: 1.5rem;
  cursor: pointer;
}
.card-body{
  height: 180px;
}

.con-photo {
  position: relative;
  margin-left:246px;
}

.con-photo-left {
  position: relative;
  margin-right:246px;
}

.image-cat {
  opacity: 1;
  display: block;
  width: 320px;
  height: 260px;
  transition: .5s ease;
  backface-visibility: hidden;
  /* align-items: center; */
}

.middle-cat {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.con-photo:hover .image-cat {
  opacity: 0.3;
}

.con-photo:hover .middle-cat {
  opacity: 1;
}

.con-photo-left:hover .image-cat {
  opacity: 0.3;
}

.con-photo-left:hover .middle-cat {
  opacity: 1;
}

.text-cat {
  /* background-color: #4CAF50; */
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.img-ab {
  margin-left: -200px;
  width: 1428px;
}

hr{
  height: 1px;
  background-color: #dfdfdf;
  border: none;
=======
* {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footerr {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
}

body {
    min-height: 2000px;
>>>>>>> 3f76f2f9cd310181f868c781650008e9e9704c6d
}